<div class="container">
    <h2 class="index">Education</h2>

    <ul>
    <li><b>Ph.D</b>  (Sep. 2008 - Aug. 2013): <b> <a
    href="http://www.cs.ucr.edu">Department of Computer Science &amp; Engineering</a>, <a href="http://www.ucr.edu">University of California, Riverside</a>,</b> U.S.</li>
        <ul class="sec">
        <li> <b>Advisor</b>: <a href="http://web.cs.iastate.edu/~ciardo/"> Prof. Gianfranco Ciardo </a></li>
        <li> <b>Research</b>: Symbolic model checking for asynchronous systems, Probabilistic model checking, Petri net systems</li>
        <li> <b>Thesis</b>: <i>Bridging the Gap Between Logic and Probabilistic Model Checking</i></li>
        </ul>
    <li><b>M.S.</b> (Sep. 2005 - Jul. 2008): <b> <a
    href="http://www.ict.ac.cn/">Institute of Computing Technology</a>,
    <a href="http://www.cas.ac.cn/">Chinese Academy of Sciences</a></b>,
    Beijing, China
        <ul class="sec">
        <li> <b>Advisor</b>: <a href="http://test.ict.ac.cn/site/sites/www/2284816204540/content.fdp?contentId=2284816204544"> Prof. Xiaowei Li </a></li>
        <li> <b>Research</b>: Hardware verification, SAT and its applications in formal verification, coverage-driven test generation for RTL designs, 
      <a href="previous_publication.html">previous publications</a></li>
        <li> <b>Thesis</b>: <i>Formal Verification Techniques Based on Satisfiability</i></li>
        </ul>
    </li>
    <li><b>B.S.</b> (Sep. 2001 - Jul. 2005): <b> <a
    href="http://eecs.pku.edu.cn/">Department of Electronics</a>,
    <a href="http://www.pkucn-edu.com">Peking University</a></b>,
    Beijing, China</li>
        <ul class="sec">
        <li> <b>Minor</b>: Mathematics, School of Mathematics, Peking University</li>
        </ul>
    </ul>
</div>  