<div class="container">
  <h2 class="index">Work Experience</h2>

  <p>I am contributing to Failover Clustering in Windows Server. <a href="https://docs.microsoft.com/en-us/windows-server/failover-clustering/failover-clustering-overview">Learn the latest features in Windows Server 2016</a>.</p>
    
  <p>Some features I contributed: </p>
    
    <h4>
      <a href="https://docs.microsoft.com/en-us/windows-server/failover-clustering/health-service-overview">Health Service</a>
    </h4>
    <ul>
      <li></li>
    </ul>
    
    <h4>Hyper-converged Solution using Storage Spaces Direct</h4>
    <ul>
      <li></li>
    </ul>
</div>