<div class="jumbotron">
  <h1 class="display-5">Yang Zhao</h1>
  <p>大口吃瓜，快意飞马</p>
</div>
  
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active current"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active current"><a routerLink="/work">Work Experience</a></li>
        <li routerLinkActive="active current"><a routerLink="/education">Education</a></li>
        <li routerLinkActive="active current"><a routerLink="/research">Research</a></li>
        <li routerLinkActive="active current"><a routerLink="/personal">Personal</a></li>
    </ul>
</nav>
