  .jumbotron {
    height: 200px;
    color: #EEEEEE;
    text-shadow: #444 0 1px 1px;
    background:transparent;
    background-image: url("../../assets/subway.jpg");
    background-size: cover;
  }
  