
/* body {
font-family:Arial,Verdana,Sans-serif;
width:70%;
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;
clear:both;
line-height:150%;
}
*/

div.jumbotron
{
background-color:white;
}


div.container
{
line-height:150%;
}

div.header,div.footer
{
padding:0.5em;
color:white;
background-color:#0099ff;
clear:left;
}

div.left
{
float:left;
width:400px;
height:220px;
margin:0;
padding:1em;
}

div.content
{
float:none;
width:700px;
height:220px;
margin-left:400px;
//border-left:1px solid gray;
padding:1em;
}

h1.header
{
font-size:35px;
text-align:center;
padding:0.5em;
margin:0;
}
h2.index
{
color:white;
background-color:#0066ff;
clear:left;
text-align:left;
padding:5px;
}

ul.contact {list-style-position:inside}
ul.contents {list-style-position:inside}
p.introduction {
text-align:left; 
margin:10px;
margin-left:50px;
margin-right:50px;
width:120%;
}

ul.sec {list-style-type:none}
ul.contact {list-style-position:inside}
ul.contents {list-style-position:inside}
p.red {color:red}
.gray{color:gray}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}